.add-task {
    display: flex;
    align-items: center;
  }

  .task-input {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    flex-grow: 1;
    margin-right: 8px;
  }

  .add-button {
    height: 36px;
    width: 15%;
    padding: 8px 16px;
    font-size: 16px;
    background: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
      background: #0056b3;
    }
  }