.task-list {
    .task {
      margin-bottom: 16px;
      padding: 16px;
      background: #fff;
      border-radius: 8px;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
  
      .task-text {
        font-size: 18px;
        max-width: 70%;
        word-break: break-word; 

        &.completed {
            text-decoration: line-through;
        }
      }
  
      .task-buttons {
        button {
          margin-right: 8px;
          font-size: 14px;
          padding: 8px 16px;
          border: none;
          cursor: pointer;
          border-radius: 4px;
  
          &:disabled {
            opacity: 0.6;
            cursor: not-allowed;
          }
  
          &.mark-as-done {
            background: #4caf50;
            color: #fff;

            &:hover {
                background: #3e8e41;
              }
          }
  
          &.delete {
            background: #f44336;
            color: #fff;

            &:hover {
                background: #e61f10;
              }
          }

          &.mark-as-undone {
            &:hover {
              background: #cccccc;
            }
          }
        }
      }
    }

    .title{
      font-size: 24px;
      font-weight: bold;
      margin: 16px 0;
    }
  }
